<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.wzh.time" >

    <application
        android:allowBackup="true"
        android:icon="@drawable/deskclock"
        android:label="@string/apk_name_1"
        android:theme="@style/AppTheme" >
        <activity
            android:name=".MainActivity"
            android:label="倒计时小程序" >
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
    </application>

</manifest>
